<div>
    <div id="id02" class="w3-row w3-modal" style="background-color: #48484889; z-index: 120;">
      <div class="w3-row w3-bottom w3-white w3-mobile w3-card-4" style="right: 0; max-width: 420px; border-radius: 15px 15px 0px 0px;">
        <div class="w3-row">
          <span onclick="document.getElementById('id02').style.display='none'"
            class="w3-button w3-teal w3-card-4 w3-display-topright"
            style="padding: 6px 12px; border-radius: 30px; margin-top: -45px; margin-right: 12px;">&times;</span>

          <div class="w3-hal w3-padding">

            <div class="w3-text-dark-gray" style="border-radius: 15px;">
              <div style="margin-top: 30px;">
                <h2 class="w3-xlarge"><strong>
                    Get Call From Our Sales Executive.
                  </strong></h2>
                <p>Please, Fill The From And Get Call From Our Expert Tour Executive For A Customized Travel Package.</p>

              </div>
             <div class="HR"></div>
              <form class="w3-text-dark-gray w3-row"
                onsubmit="alert('Thanks For Submiting The Form. Our Executives Will Reach To You Within 24 Hours');"
                method="page">
                <div style="margin-bottom: 6px;" class="elem-group w3-col s12 m12 l12">
                  <lable class="w3-small" style="margin-bottom: 4px;">Full Name <span class="w3-text-red">*</span>
                  </lable>
                  <input style="border-radius: 15px;" class=" w3-input w3-large w3-round w3-tiny w3-border" type="text"
                    id="name" name="visitor_name" placeholder="Jonh Doe" pattern="[A-Z\sa-z]{3,20}" required="">
                </div>
                <div class="elem-group w3-col s12 m12 l12" style="margin-bottom: 6px;">
                  <lable class="w3-small" style="margin-bottom: 4px;">Email Address <span class="w3-text-red">*</span>
                  </lable>

                  <input style="border-radius: 15px;" class=" w3-input w3-large w3-round w3-tiny w3-border" type="email"
                    id="email" name="visitor_email" placeholder="john.doe@email.com" required="">
                </div>
                <div class="elem-group w3-col s12 m12 l12" style="margin-bottom: 6px;">
                  <lable class="w3-small" style="margin-bottom: 4px;">Contect Number <span class="w3-text-red">*</span>
                  </lable>

                  <input style="border-radius: 15px;" class="w3-input w3-large w3-round w3-tiny w3-border" type="tel"
                    id="phone" name="visitor_phone" placeholder="+91-81294-71645"
                    pattern="(\d{3})-?\s?(\d{3})-?\s?(\d{4})" required="">
                </div>
                <div class="w3-row">
                  <div class=" w3-col s4 m4 l4" style="margin-bottom: 6px;">
                    <lable class="w3-small" style="margin-bottom: 4px;">Traveller Count <span
                        class="w3-text-red">*</span></lable>
                    <input style="border-radius: 15px;" class=" w3-input w3-large w3-round w3-tiny w3-border"
                      type="number" id="adult" name="total_adults" placeholder="Travelrs Count" min="1" required="">
                  </div>

                  <div class="w3-col s8 m8 l8" style="padding-left: 12px;">
                    <lable class="w3-small" style="margin-bottom: 4px;">Travel Date <span class="w3-text-red">*</span>
                    </lable>

                    <input style="margin-bottom: 4px; border-radius: 15px;"
                      class="w3-right-align w3-rest w3-input w3-large w3-round w3-tiny w3-border" type="date"
                      id="checkout-date" name="checkout" required="">
                  </div>

                </div>


            </div>
            <div class="w3-row">
              <button
                class="w3-large w3-mobile w3-button w3-round w3-text-white w3-margin-top w3-margin-bottom w3-left w3-teal w3-small"
                style="border-radius: 30px;" type="submit">Connect With a Expert</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>