<form action="" class="w3-text-dark-gray w3-row w3-padding" onsubmit="alert('Thanks For Submiting The Form. Our Executives Will Reach To You Within 24 Hours');">
    <div style="margin-bottom: 6px;" class="elem-group w3-col s12 m12 l12">

      <input style="border-radius: 10px;" class="w3-margin-top w3-input w3-round w3-border w3-border-light-gray" type="text" id="name"
        name="visitor_name" placeholder="Full Name" pattern="[A-Z\sa-z]{3,20}" required="">
    </div>
    <div class="elem-group w3-col s12 m12 l12" style="margin-bottom: 6px;">

      <input style="border-radius: 10px;" class=" w3-input w3-round w3-border w3-border-light-gray" type="email"
        id="email" name="visitor_email" placeholder="john.doe@email.com" required="">
    </div>
    <div class="elem-group w3-col s12 m12 l12" style="margin-bottom: 6px;">

      <input style="border-radius: 10px;" class="w3-input w3-round w3-border w3-border-light-gray" type="tel" id="phone"
        name="visitor_phone" placeholder="Mobile Number" pattern="(\d{3})-?\s?(\d{3})-?\s?(\d{4})"
        required="">
    </div>

    <div class=" w3-col s12 m12 l12" style="margin-bottom: 6px;">
      <input style="border-radius: 10px;" class=" w3-input w3-round w3-border w3-border-light-gray" type="number"
        id="adult" name="total_adults" placeholder="Travelrs Count" min="1" required="">
    </div>
    <div class="w3-">
      <label style="height: 43px; display: flex;
    align-items: center;"
     class="w3-col s4 m4 l4" for="checkout-date">Travel date</label>
      <input style="margin-bottom: 4px; border-radius: 10px;"
        class="w3-col s8 m8 l8 w3-input w3-round w3-border w3-border w3-border-light-gray" type="date" id="checkout-date"
        name="checkout" required="">
    </div>
    <button class="w3-button w3-round w3-text-white w3-margin-top w3-margin-bottom w3-left w3-teal w3-small"
      style="border-radius: 30px;" type="submit">Connect With An Expert</button>



</form>