<div class="slider-container w3-padding w3-content">
    <button class="slider-btn prev-btn" aria-label="Previous">‹</button>
    <div class="slider-track" style="gap: 20px; ">
    {% for post in site.tour limit: 5 %}
        {% if post.categories contains "Popular" %}
        <!--1-->
       <div class="w3-row slid" style="height: fit-content; width: 300px;">
          <a class="w3-row" style="display: block; text-decoration: none;" href="{{ site.url }}{{ post.url | relative_url }}">
              <div class="w3-row w3-display-container" style="height: 290px; width:300px;">
                <img class="w3-border w3-border-light-gray" alt="{{ post.imgh1 }}" src="{{ site.url }}/assets/images/{{ post.img1 }}" style="border-radius: 15px; object-fit: cover; overflow: hidden; height: 100%; width: 100%;">
              <div class="w3-display-topleft w3-padding">
                <div class="w3-tag w3-teal w3-round-xxlarge w3-small" style="padding: 2px 18px;">Popular Tour</div>
              </div>
              </div>
  
              <div class="w3-row">
                <div class="w3-row w3-margin-top">
                  <div class="w3-left w3-text-gray w3-small"><b>
                  <svg width="10px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#484848" d="M256 0a256 256 0 1 1 0 512 256 256 0 1 1 0-512zM232 120l0 136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2 280 120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/></svg>
                    {{ post.duration }}</b></div>
                  <div class="w3-right w3-text-gray"></div>
                </div>
                
                <h3 class="w3-text-dark-gray" style="font-size: 15px; margin: 8px 0px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; font-weight: 700; -webkit-box-orient: vertical; font-size:18px;">
                  {{ post.title }}
                </h3>
  
                <div class="w3-row w3-small w3-text-gray w3-round" style="padding: 6px 0px; background-image: linear-gradient(#ffffff00, #f9f9f9, #ffffff00);">
                  <b><i>Destinations: </i>{{ post.destinations }} Etc.</b>
                </div>
  
                <b class="w3-large" style="margin-top: 0px;">INR {{ post.price }} <span class="w3-small w3-text-gray">{{ post.priceper }}</span> </b>
                <br><strike class="w3-text-gray">INR {{ post.pricex }}</strike>  
              </div> 
          </a>
          
          <div class="w3-row w3-margin-top">
              <div class="w3-col" style="width: 50px;">
                <a href="tel:+918219471645" aria-label="Call Now To Enquire" class="w3-button w3-light-gray w3-small w3-border w3-border-sand" style="width: 34px; height: 34px; padding: 0px; border-radius: 30px; display: inline-flex; align-items: center; justify-content: center;">
                  <svg width="12px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M160.2 25C152.3 6.1 131.7-3.9 112.1 1.4l-5.5 1.5c-64.6 17.6-119.8 80.2-103.7 156.4 37.1 175 174.8 312.7 349.8 349.8 76.3 16.2 138.8-39.1 156.4-103.7l1.5-5.5c5.4-19.7-4.7-40.3-23.5-48.1l-97.3-40.5c-16.5-6.9-35.6-2.1-47 11.8l-38.6 47.2C233.9 335.4 177.3 277 144.8 205.3L189 169.3c13.9-11.3 18.6-30.4 11.8-47L160.2 25z"/></svg>
                </a>
              </div>
              <div class="w3-rest">
                <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-small w3-teal" style="border-radius: 30px; padding-left: 40px; padding-right: 40px;">
                  Request Callback
                </button>
              </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
   </div>
    <button class="slider-btn next-btn" aria-label="Next">›</button>
</div>